<%= turbo_frame_tag :leads do %>
  <%= link_to "Refresh Leads", business_leads_path(@business), class: "rounded-lg px-2.5 py-1.5 mb-6 bg-blue-500 text-white font-bold block text-center" %>

  <section data-controller="toggle">
    <h3 class="text-3xl font-black my-8">
      Potential Business Leads
      <b class="bg-blue-500 text-base text-white px-1.5 py-0.5 cursor-pointer" data-action="click->toggle#show" data-toggle-target="shownToggleable">Show</b>
      <b class="bg-blue-500 hidden text-base text-white px-1.5 py-0.5 cursor-pointer" data-action="click->toggle#hide" data-toggle-target="hiddenToggleable">Hide</b>
    </h3>
    <div class="hidden" data-toggle-target="hiddenToggleable">
      <ul class="flex flex-col gap-6" data-toggle-target="hiddenToggleable">
        <% @leads.each do |lead| %>
          <%= render "lead", lead: %>
        <% end %>
      </ul>
    </div>
  </section>
<% end %>
